* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


header{
    display: flex;
    height: 70px;
    width: 100vw;
    background:#000000d1;
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul {
    display: flex;
    list-style: none;
    gap: 30px;
    font-weight: bold;
}

header ul li a{
    text-decoration: none;
    color: white;
}