* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  display: flex;
  height: 70px;
  width: 100vw;
  background: #000000d1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
}

header ul {
  display: flex;
  list-style: none;
  gap: 30px;
  font-weight: bold;
}

header ul li a {
  text-decoration: none;
  color: white;
}

main {
  width: 100%;
  height: calc(100vh - 140px);
  display: flex;
  position: relative;
}

main > aside {
  width: 20%;
  background: #000000d1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}
main > aside h2{
    color: white;
}
main > aside ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    list-style: none;
    
}
main > aside ul li a{
    color: white;
    text-decoration: none;
}
.container {
  width: 80%;
  max-height: calc(100vh - 70px);
}


footer{
    height: 70px;
    width: 100vw;
    background-color: #000000d1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}